.DS_Store
tags
*.DS_Store
*tags
*history

Applications/
Creative Cloud Files/
Desktop/
Dirac/
Documents/
Downloads/
Dropbox/
Fixed/
Library/
Movies/
Music/
Pictures/
Sites/
Zotero/
admin/
books/
research/


.vim/undodir/%*
.vim/bundle/*
.vim/.netrwhist
.vim/spell/*

.visit
.ParaProf/
.Xauthority
.anyconnect
.aspell.en.prepl
.aspell.en.pws
.bash_sessions/
.bundle/
.cache/
.cargo/
.cisco/
.cmake/
.config/ParaView/
.config/com.nvidia.devtools/
.config/configstore/
.config/gtk-2.0/
.config/htop/
.config/inkscape/
.config/iterm2/
.config/jgit/
.config/kitty/
.config/xm1/
.config/yadm/repo.git/
.cpan/
.cpanm/
.cups/
.docker/
.dropbox/
.flint.ini
.ftemplate.csi
.fzf.bash
.fzf/
.gem/
.gervill/
.git-credentials
.globusonline/
.gnupg/
.gtk-bookmarks
.icode/
.ipython/
.iterm2_shell_integration.bash
.julia/
.jupyter/
.keras/
.latexmkrc
.lesshst
.local/
.matplotlib/
.myeditor.lst
.npm/
.nsightsystems/
.oracle_jre_usage/
.personify/
.ptp-histfile
.pylint.d/
.rbenv/
.rustup/
.screenrc
.serverauth.*
.ssh/
.swo
.swt/
.v8flags.*
.viminfo
.wget-hsts
.zshenv


.slocdata/
.vscode/
.wdm/

.config/gh
.semantic-highlight-cache

.bashrc-e
.cabal/
.config/fish/
.config/lvim/
.config/nvim/
.epspdf/
.fig/
.ghcup/
.mkshrc
.rvm/
.stack/
.yarnrc
.zlogin
Parallels/
.Trash/

.config/karabiner/automatic_backups
