background_color    0.22 0.22 0.22
dark_mode_background_color    0.22 0.22 0.22

custom_background_color 0.22 0.22 0.22
custom_text_color 0.9 0.9 0.9

status_bar_color 0.22 0.22 0.22

startup_commands    toggle_visual_scroll;toggle_custom_color

page_separator_width 1
page_separator_color	0.5 0.5 0.5

search_highlight_color 0.00 0.40 0.36
synctex_highlight_color  0.12 0.12 0.12
text_highlight_color    0.15 0.25 0.35 

vertical_move_amount    1.5
horizontal_move_amount    1.5
